
@font-face {
    font-family: 'maobi';
    src: url('../font/KouzanBrushFont.ttf') format("truetype");
    src: url('../font/KouzanBrushFont.ttf');
  }

  .maobi {
    font-family: 'maobi'
  }

  @font-face {
    font-family: 'maobi2';
    src: url('../font/毛泽东字体.ttf') format("truetype");
    src: url('../font/毛泽东字体.ttf');
  }