@font-face {
  font-family: 'maobi';
  src: url('../font/KouzanBrushFont.ttf') format("truetype");
  src: url('../font/KouzanBrushFont.ttf');
}

.maobi {
  font-family: 'maobi'
}

@font-face {
  font-family: 'maobi2';
  src: url('../font/毛泽东字体.ttf') format("truetype");
  src: url('../font/毛泽东字体.ttf');
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.more {
  margin-right: 4rem;
}

.mylist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-top-39 {
  margin-top: 2.4375rem;
}

.margin-top-25 {
  margin-top: 1.5625rem;
}

.margin-right-40 {
  margin-right: 2.5rem;
}

.margin-right-20 {
  margin-right: 1.25rem;
}

.font-size-10 {
  font-size: 0.625rem;
}

.font-size-15 {
  font-size: 0.9375rem;
}

.font-size-20 {
  font-size: 1.25rem;
}

.font-size-25 {
  font-size: 1.5625rem;
}

.avatar {
  height: 5.625rem;
  width: 5.625rem;
  /* border-radius: 50%; */
}

.owner {
  font-size: 1.875rem;
  margin-left: 1.25rem;
  font-family: 'maobi2';
  width: 9.375rem;
  
}

.num {
  width: 2.5rem;
  text-align: center;
  float: left;
  margin-left: 1.8rem;
}

.numa {
  font-size: 1.25rem;
  font-weight: 500;

}

.center {
  margin: 0 auto;
  float: left;
}

.owner-content {
  margin-top: 1.5625rem;
  float: left;
  text-indent: 1rem;
}

.maxwidth {
  width: 100%;
}

.mod-btn {
  position: fixed;
  left: 3%;
  top: 30%;
  z-index: 1000;
  border-radius: 30%;
  height: 4rem;
  width: 4rem;
  outline: 0ch;
}

.mod-btn2 {
  position: fixed;
  left: 3%;
  top: 40%;
  z-index: 1000;
  border-radius: 30%;
  height: 4rem;
  width: 4rem;
}

.mod-btn3 {
  position: fixed;
  left: 3%;
  top: 50%;
  z-index: 1000;
  border-radius: 30%;
  height: 4rem;
  width: 4rem;
}

.mod-btn4 {
  position: fixed;
  left: 3%;
  top: 60%;
  z-index: 1000;
  border-radius: 30%;
  height: 4rem;
  width: 4rem;
}

.mod-btn5 {
  position: fixed;
  left: 3%;
  top: 70%;
  z-index: 1000;
  border-radius: 30%;
  height: 4rem;
  width: 4rem;
}

.modbtn {
  width: 9.375rem;
  height: 3.125rem;
  text-align: center;
  margin-left: 5.625rem;
  float: left;
  border-radius: 5%;
  /* border:0.0625rem solid #286090; */
  background-color: #286090;
  font-size: 1.125rem;
  color: white;
}

.boder-bottom {
  border-block-end: 0.0625rem solid #ccc;
}

.modbox {
  height: 100px;
  width: 100px;
  text-align: center;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

.modpic {
  font-size: 50px;
}

.upimg {
  /* position: relative; */
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: dashed #999999;
  background: url(../img/addimg.svg) no-repeat;
  background-position: 33px;
  margin-bottom: 10px;
  margin-left: 0.625rem;
}

.upimg input {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
}

#showui {
  /* display: flex; */
  justify-content: flex-start;
}

#showui li {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

#showui li img.showimg {
  position: absolute;
  text-align: center;
  height: 5rem;
  width: 140px;
  z-index: 6;
}

.showdiv {
  position: absolute;
  z-index: 9;
  bottom: 1.875rem;
  /* left: 0.3125rem; */
  width: calc(100% - 10px);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, .6);
}

.showdiv img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#showui li:first-child img.left {
  opacity: .6;
  cursor: no-drop;
}

#showui li:last-child img.right {
  opacity: .6;
  cursor: no-drop;
}

.oneright {
  opacity: .6;
  cursor: no-drop !important;
}

.imgbox {
  margin-left: 10px;
  border: 0.0625rem #777 solid
}

.maxwidth-80 {
  max-width: 5rem;
}

/* .imgbox ul li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  min-height: 200px;
} */

/* thumbnails */
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

ul.thumbnails.image_picker_selector li {
  margin: 0rem 0.75rem 0.75rem 0rem;
  float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 0.375rem;
  border: 0.0625rem solid #dddddd;
  max-width: 9.375rem;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #0088cc;
}

.menu_list {
  /* margin: 0.625rem auto; */
  width: 100%;
}

.menu_head {
  width: 100%;
  height: 2.9375rem;
  line-height: 2.9375rem;
  padding-left: 2.375rem;
  font-size: 0.875rem;
  color: #525252;
  cursor: pointer;
  border: 0.0625rem solid #e1e1e1;
  position: relative;
  font-weight: bold;
  background: #f1f1f1 url(../img/pro_left.png) center right no-repeat;
  margin: 0;
}

.menu_list .current {
  background: #f1f1f1 url(../img/pro_down.png) center right no-repeat;
}

.menu_body {
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 2.375rem;
  border-left: 0.0625rem solid #e1e1e1;
  backguound: #fff;
  border-right: 0.0625rem solid #e1e1e1;
}

.menu_body a {
  display: block;
  width: 13.9375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  padding-left: 2.375rem;
  color: #777777;
  background: #fff;
  text-decoration: none;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.menu_body a:hover {
  text-decoration: none;
}

.edit {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  top: -32px;
  right: 0;
}

.text-intent {
  text-indent: 32px;
}

.dropzone::before {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "移动到此处删除";
  line-height: 260px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 26px;
}
.dropzone {
  border: 4px dashed #639BF6;
  color: #639BF6;
  min-height: 260px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.3
}

.dropzone.active {
  opacity: 1;
}
