@font-face {
  font-family: 'maobi';
  src: url('../font/KouzanBrushFont.ttf') format("truetype");
  src: url('../font/KouzanBrushFont.ttf');
}

.maobi {
  font-family: 'maobi'
}

@font-face {
  font-family: 'maobi2';
  src: url('../font/毛泽东字体.ttf') format("truetype");
  src: url('../font/毛泽东字体.ttf');
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.more {
  margin-right: 64px;
}

.mylist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-top-39 {
  margin-top: 39px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-20 {
  margin-right: 20px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.owner {
  font-size: 30px;
  margin-left: 20px;
  font-family: 'maobi2'
}

.num {
  width: 40px;
  text-align: center;
  float: left;
  margin-left: 28.8px;
}

.numa {
  font-size: 20px;
  font-weight: 500;

}

.center {
  margin: 0 auto;
  float: left;
}

.owner-content {
  margin-top: 25px;
  float: left;
  text-indent: 16px;
}

.maxwidth {
  width: 100%;
}

.mod-btn {
  position: fixed;
  left: 3%;
  top: 40%;
  z-index: 1000;
  border-radius: 30%;
  height: 64px;
  width: 64px;
  outline: 0ch;
}

.mod-btn2 {
  position: fixed;
  left: 3%;
  top: 50%;
  z-index: 1000;
  border-radius: 30%;
  height: 64px;
  width: 64px;
}

.mod-btn3 {
  position: fixed;
  left: 3%;
  top: 60%;
  z-index: 1000;
  border-radius: 30%;
  height: 64px;
  width: 64px;
}

.modbtn {
  width: 150px;
  height: 50px;
  text-align: center;
  margin-left: 90px;
  float: left;
  border-radius: 5%;
  /* border:1px solid #286090; */
  background-color: #286090;
  font-size: 18px;
  color: white;
}

.boder-bottom {
  border-block-end: 1px solid #ccc;
}

.modbox {
  height: 6.25rem;
  width: 6.25rem;
  text-align: center;
  float: left;
  margin-top: 0.9375rem;
  margin-left: 0.625rem;
}

.modpic {
  font-size: 3.125rem;
}

.upimg {
  /* position: relative; */
  float: left;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.3125rem;
  border: dashed #999999;
  background: url(../img/addimg.svg) no-repeat;
  background-position: 2.0625rem;
  margin-bottom: 0.625rem;
  margin-left: 10px;
}

.upimg input {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0;
}

#showui {
  /* display: flex; */
  justify-content: flex-start;
}

#showui li {
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 0.3125rem;
}

#showui li img.showimg {
  position: absolute;
  text-align: center;
  height: 80px;
  width: 8.75rem;
  z-index: 6;
}

.showdiv {
  position: absolute;
  z-index: 9;
  bottom: 30px;
  /* left: 5px; */
  width: calc(100% - 0.625rem);
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, .6);
}

.showdiv img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

#showui li:first-child img.left {
  opacity: .6;
  cursor: no-drop;
}

#showui li:last-child img.right {
  opacity: .6;
  cursor: no-drop;
}

.oneright {
  opacity: .6;
  cursor: no-drop !important;
}

.imgbox {
  margin-left: 0.625rem;
  border: 1px #777 solid
}

.maxwidth-80 {
  max-width: 80px;
}

/* .imgbox ul li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 0.3125rem;
  min-height: 12.5rem;
} */

/* thumbnails */
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.thumbnails.image_picker_selector li {
  margin: 0px 12px 12px 0px;
  float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 6px;
  border: 1px solid #dddddd;
  max-width: 150px;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #0088cc;
}

.menu_list {
  /* margin: 10px auto; */
  width: 100%;
}

.menu_head {
  width: 100%;
  height: 47px;
  line-height: 47px;
  padding-left: 38px;
  font-size: 14px;
  color: #525252;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  position: relative;
  font-weight: bold;
  background: #f1f1f1 url(../img/pro_left.png) center right no-repeat;
  margin: 0;
}

.menu_list .current {
  background: #f1f1f1 url(../img/pro_down.png) center right no-repeat;
}

.menu_body {
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 38px;
  border-left: 1px solid #e1e1e1;
  backguound: #fff;
  border-right: 1px solid #e1e1e1;
}

.menu_body a {
  display: block;
  width: 223px;
  height: 38px;
  line-height: 38px;
  padding-left: 38px;
  color: #777777;
  background: #fff;
  text-decoration: none;
  border-bottom: 1px solid #e1e1e1;
}

.menu_body a:hover {
  text-decoration: none;
}

.edit {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  top: -2rem;
  right: 0;
}